.card {
    width: 100rem;  /* Фиксированная ширина */
    overflow: hidden; /* Обрезает лишний текст */
    text-overflow: ellipsis; /* Добавляет "..." при обрезке текста */
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment {
    cursor: pointer;
}
.mention {
    font-weight: bold;
    color: #007bff; /* Синий цвет */
    background-color: rgba(0, 123, 255, 0.1); /* Лёгкий фон */
    padding: 2px 5px;
    border-radius: 4px;
}