{% extends "base.html" %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/add_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/get_posts.js') }}"></script>
{% endblock %}
{% block title %}
Главная
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="main-content" class="section p-3">
  <h1>Поздравляю!</h1>
  <p>Вы видите это, потому что вы зарегестрированы! Вы {{ user.username }}!</p>
  <div class="card">
    <div class="card-body">
      <form id="addPost">
        <h1>Создать пост</h1>
        <div class="mb-3">
          <label for="postTitle" class="form-label" >Имя поста</label>
          <input type="text" class="form-control" id="postTitle" placeholder="Введите имя поста" required>
        </div>
        <div class="mb-3">
          <label for="postContent" class="form-label">Текст поста</label>
          <textarea class="form-control" name="postContent" id="postContent" placeholder="Введите текст поста" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary button-switch">Создать</button>
      </form>
      <div class="alert alert-success mt-3" id="messageSuccess" role="alert" style="display: none;"></div>
      <div class="alert alert-warning mt-3" id="messageWarning" role="alert" style="display: none;"></div>
    </div>
  </div>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='postContent') }}

  <div class="mt-5 p-2">
    <div class="card">
      <div class="card-header">
        <h1>Посты</h1>
      </div>
      <div class="card-body" id="postList">

      </div>
    </div>
  </div>

</div>
{% else %}
<div class="section p-3">
  <h1>Доступ запрещён!</h1>
  <p>Этот сайт только для авторизованных пользователей!</p>
</div>
{% endif %}

{% endblock %}
