{% extends "base.html" %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/answer_to_comment.js') }}"></script>
{% endblock %}
{% block title %}
Пост {{ post.id }}
{% endblock %}
{% block extra_css %}
<link href="{{ url_for('static', filename='css/post.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section d-flex justify-content-center mt-3 post">
    <div class="card p-4" style="border-radius: 0;">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.user.username }} - {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}</h6>
        <p class="card-text">{{ post.content | safe }}</p>
        <hr>

        <div class="comments mt-4 mb-4">
            <h6>Комментарии:</h6>
            <div id="commentsList">
                {% for comment in post.comments %}
                    <div class="comment border p-2 mb-2" data-username="{{ comment.user.username }}" title="Нажмите, чтобы ответить на комментарий">
                        <strong>{{ comment.user.username }}</strong>:
                        <p>{{ comment.content | safe }}</p>
                        <small class="text-muted">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
                    </div>
                {% else %}
                    <p class="text-muted">Пока нет комментариев</p>
                {% endfor %}
            </div>
            <hr>
<!-- Теперь всё отображается так: class="mention">@Anardest ДА БАГ, НУ И ЧЁ -->
            <!-- Форма для добавления комментария -->
            {% if user.is_authenticated %}
            <form id="commentForm" class="mt-3 mb-3">
                <textarea id="commentContent" class="form-control" rows="2" placeholder="Напишите комментарий..." required></textarea>
                <button type="submit" class="btn btn-success mt-2">Отправить</button>
            </form>
            {% else %}
            <h3>Комментарии доступны лишь авторизованным пользователям!</h3>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $('#commentForm').submit(function (event) { 
        event.preventDefault();

        let commentContent = $('#commentContent').val().trim();
        let postId = '{{ post.id }}';

        if (!commentContent) {
            alert("Комментарий не может быть пустым!");
            return;
        }


        $.ajax({
            type: "POST",
            url: `/posts/${postId}/comment/add`,
            contentType: "application/json",
            data: JSON.stringify({content: commentContent}),
            success: function (response) {
                let highlightedContent = response.content.replace(/@([\w\d]+)/g, '<span class="mention">@$1</span>')
                $("#commentsList").append(`
                    <div class="comment border p-2 mb-2" data-username="${response.username}" title="Нажмите, чтобы ответить на комментарий">
                        <strong>${response.username}</strong>:
                        <p>${highlightedContent}</p>
                        <small class="text-muted">${response.created_at}</small>
                    </div>
                `);
                $("#commentContent").val(""); // Очистка поля
            },
            error: function (xhr) {
                alert("Ошибка: " + xhr.responseJSON.error);
            }
        });
        
    });
});
</script>

{% endblock %}